<div>
<h2>About...</h2>

<p>Multibyte draws its strength from the experienced personnel from the industry and universities apart from its internal strength which covers concept to design and design to a product, with all the in-house facilities from CAD design to firmware development and PC front-ends.

    The Embedded Development platforms include various families of Micro-controller manufacturers like Atmel, Cygnal, TI, Intel, ARM and Microchip on both the PC platforms of Windows and Linux.

    Multibyte has designed, developed and delivered various products to it’s vendors in diversified applications which are more than 1500 to its credentials. And subsequent to the design and delivery, continuous support to improve the product performance is extended to it’s clients on continuous basis.</p>
<p> {{message1}}</p>
</div>
